body {
    background-image: url("/images/background.jpg");
    background-attachment: fixed;

}

body.dark-theme {
    background-image: url("/images/darkback.jpg");
    background-attachment: fixed;
}

.baton {
    right: 0;
    bottom: 0;
    position: sticky;
}

.material-symbols-outlined {
    font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
}
